body
{
	width: 100%;
	margin:auto;
	background-color:#333333;
}
main{
	width: 1500px;
	margin-left:auto;
	margin-right: auto;
	padding-top:50px;
	font-size:40px;
	text-decoration:none;
	color:white;
}
#napis
{
	color:white;
	padding:5px;
	font-size:60px;
	text-align: center;
}
footer
{
	clear: both;
	width:100%;
	background-color:black;
	color:white;
	text-align: center;
	font-size: 30px;
}
header
{
	width:100%;
	font-size:60px;
	color:white;
	text-align:center;
	margin:auto;
}
nav
{
	width:100%;
	margin:auto;
}
ol
{
	padding: 0;
	margin-top:0;
	margin-bottom:0;
	list-style-type: none;
	height: 60px;
	line-height: 200%;
	display: inline-block;
	width:100%
}
ol a
{
	color: #ffffff;
	text-decoration: none;
	display: block;
}

ol > li
{
	float:left;
	width: 25%;
	height: 60px;
	text-align:center;
	font-size:40px;
	padding-top:20px;
	background-color:black;
}
ol > li:hover
{
	background-color: #CCCC00;
}
#rejestr
{
text-decoration:none;
color:white;
}
#rejestr > a 
{
text-decoration:none;
color:white;
}
#rejestr > a:hover 
{
text-decoration:none;
color:yellow;
}








